# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/server/server_access.log
/server/debug_auth.log
/server/seeder_output.log
server/server_access.log

# Dependency directories
node_modules/
/client/node_modules
/server/node_modules

# Build artifacts
/client/dist/

# Environment variables
.env
/client/.env
/server/.env

# OS Files
.DS_Store
Thumbs.db
